
body {
    padding-top: 60px;
}



/* header */
.main-header .site-navbar {
    background-color: #2c3e50;
}

.main-header .site-brand {
    font-size: 1.5rem;
}


.box-img { 
    width: 20rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

main .site-hero {
    background-color:#1abc9c;
    color: white;
}

main .site-hero .barra {
    width: 50%;
    height: 3px;
    background-color: white;
}

/* about-registration */
main .btn-about {
    color: white;
    border: 1px solid white;
}

main .registration input[type="text"],
main .registration input[type="email"],
main .registration input[type="phone"],
main .registration textarea {
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
}

main .registration input[type="text"]:focus,
main .registration input[type="email"]:focus,
main .registration input[type="phone"]:focus,
main .registration textarea:focus {
    border-color: black;
    box-shadow: none;
}

main .registration input[type="text"],
main .registration input[type="email"],
main .registration input[type="phone"] {
    padding: 0;
    height: 50px;
}

main .registration textarea {
    padding: 1rem 0;
    height: 200px;
}

main .registration .send {
    background-color: #1abc9c;
}
main .registration ::placeholder {
    color: #ddd;
}

/* footer */
footer {
    background-color: #2c3e50;
    color: white;
}

footer .row ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    cursor: pointer;
}

footer .row li {
    font-size: 20px;
    color: white;
    background-color: #2c3e50;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}

footer .box-footer span {
    color:#1daf96;
}

footer .copywriting {
    font-size: 0.75rem;
}
